## Data wrangling

In [2]:
import pandas as pd
import numpy as np

In [3]:
%ls datasets/

adult.csv                  Clase2.1.ipynb  nhanes_2015_2016.csv
airline_data.csv           coches.csv      pokemon.csv
antropometria00.csv        cwurData.csv    sample_pivot.csv
antropometria-dataset.csv  data.csv        tips.csv
Book3.csv                  headbrain.csv   Untitled.ipynb
Canada.xlsx                mic2.xlsx       weight-height.csv
Cartwheeldata.csv          mic.xlsx
census.csv                 movies.csv

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df=pd.read_excel('datasets/Canada.xlsx',
                 engine='openpyxl',
                sheet_name='Canada by Citizenship',
                skiprows=range(20))
df.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [7]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903.0,Africa,912.0,Northern Africa,902.0,Developing regions,80.0,...,3774.0,4331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909.0,Oceania,957.0,Polynesia,902.0,Developing regions,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,0.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.drop(['Type','Coverage','DEV','DevName','Unnamed: 43',
        'Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47',
        'Unnamed: 48','Unnamed: 49','Unnamed: 50'],
        axis=1,
        inplace=True)

KeyError: "['Type' 'Coverage' 'DEV' 'DevName' 'Unnamed: 43' 'Unnamed: 44'\n 'Unnamed: 45' 'Unnamed: 46' 'Unnamed: 47' 'Unnamed: 48' 'Unnamed: 49'\n 'Unnamed: 50'] not found in axis"

In [11]:
df.columns

Index([  'OdName',     'AREA', 'AreaName',      'REG',  'RegName',       1980,
             1981,       1982,       1983,       1984,       1985,       1986,
             1987,       1988,       1989,       1990,       1991,       1992,
             1993,       1994,       1995,       1996,       1997,       1998,
             1999,       2000,       2001,       2002,       2003,       2004,
             2005,       2006,       2007,       2008,       2009,       2010,
             2011,       2012,       2013],
      dtype='object')